/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


/*Header */

.header {
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link:hover {
  text-decoration: underline;
}


/*Main */

.main {
  padding: 20px;
  margin: 0 10px 10px;
  border-radius: 50px;

  background-image: linear-gradient(to botton, #062d14, #000);
}

.main__texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__link:hover {
  text-decoration: underline;
}